<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="woodSword" class="com.javaee.dependency.homework3.weapon.Sword">
		<constructor-arg value="0.1" />
	</bean>

	<bean id="naruto" class="com.javaee.dependency.homework3.fighter.ShinobiFighter">
		<constructor-arg value="Це було занадто легко"></constructor-arg>
		<constructor-arg value="Я просто відволікся, а так я би переміг!"></constructor-arg>
	</bean>

	<bean id="gopnic" class="com.javaee.dependency.homework3.fighter.GopnicFighter">
		<property name="attack" value="3" />
		<property name="defense" value="7" />
		<property name="failChance" value="0.75" />
		<property name="excuse" value="Альо гараж" />
		<property name="celebration"
			value="Вельмишановний друже, щиро прошу Вас признати свою поразку, адже показ у цьому двобої моєї очевидної переваги у плані грубої фізичної сили - далеко не найкращий спосіб провести вільний час." />
	</bean>

	<bean id="chair" class="com.javaee.dependency.homework3.weapon.Furniture">
		<constructor-arg value="0.7" />
		<constructor-arg value="0.4" />
	</bean>

	<bean id="table" class="com.javaee.dependency.homework3.weapon.Furniture">
		<constructor-arg value="0.9" />
		<constructor-arg value="0.6" />
	</bean>

	<bean id="bed" class="com.javaee.dependency.homework3.weapon.Furniture">
		<constructor-arg value="1.9" />
		<constructor-arg value="1.6" />
	</bean>

	<util:list id="myList" value-type="com.javaee.dependency.homework3.weapon.Sword">
		<ref bean="chair"></ref>
		<ref bean="table"></ref>
		<ref bean="bed"></ref>
	</util:list>
	
	<bean id="excuse" class="java.lang.String">
  		<constructor-arg type="java.lang.String" value="Всі меблі поламав... Знову..."/>
	</bean>
	
	<bean id="celebration" class="java.lang.String">
  		<constructor-arg type="java.lang.String" value="Надіюся, що страховка покриє витрати на меблі..."/>
	</bean>

	<bean id="jackieChan"
		class="com.javaee.dependency.homework3.fighter.JackieChanFighter">
	</bean>

	<context:annotation-config />
</beans>
